<!DOCTYPE html>
<html>
<head>
    <title>100 Years</title>
    <link rel="stylesheet" href="css/bulma.css"/>
    <link rel="stylesheet" href="css/nyt.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/nyt.js"></script>
    <style>
        main {
            width: 100%;
        }

        .vertical-padding {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    </style>
</head>
<body>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-1">
                    100 Years
                </h1>
                <h2 class="subtitle">
                    an interactive exploration of climate change
                </h2>
            </div>
        </div>
    </section>
    <main>
        <section class="hero is-light vertical-padding">
            <div class="container">
                <p>
                    Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1.
                    Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1. Section 1.
                </p>
                <figure class="has-text-centered vertical-padding">
                    <svg id="temp"/>
                </figure>
                <div v-if="temperature.drew" class="vertical-padding">
                    <div v-if="temperature.decrease" class="notification is-warning">
                      It looks like you thought the temperature would go down. Don't feel bad, X% of people thought so too! In 
                        reality, however, we think Y.
                    </div>
                    <div v-if="!temperature.decrease" class="notification is-success">
                        Great! You are correct. I don't know what to say here so I'm just typing random things now!
                    </div>
                </div>
                <p>
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                    Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2. Section 2.
                </p>
            </div>
        </section>
        <section class="hero is-dark vertical-padding">
            <div class="container">
                <p>
                    Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3.
                    Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3. Section 3.
                </p>
                <figure class="has-text-centered vertical-padding">
                    <svg id="co2"/>
                </figure>
                <p>
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                    Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. Section 4. 
                </p>
            </div>
        </section>
        <section class="hero is-light vertical-padding">
            <div class="container">
                <p>
                    Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5.
                    Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5. Section 5.
                </p>
                <figure class="has-text-centered vertical-padding">
                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Emissions%20Tracker&w=960&h=360"/>
                </figure>
                <p>
                    Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6.
                    Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6. Section 6.
                </p>
            </div>
        </section>
    </main>
    <script>
        const vm = new Vue({
            el: "main",
            data: {
                temperature: {
                    drew: false,
                    decrease: null
                }
            },
            methods: {
                update_temp: function (path) {
                    console.log(path)
                    var self = this;
                    var distance_from_top_1 = path[1][1];
                    var distance_from_top_2 = path[_.size(path)-1][1];
                    self.temperature.drew = true;
                    self.temperature.decrease = distance_from_top_2 > distance_from_top_1;
                    console.log(self.temperature.drew, self.temperature.decrease);
                }
            }
        });
        make_graph("#temp", vm.update_temp)
        make_graph("#co2", console.log)
    </script>
</body>
</html>
